.button {
    --primary-color: #D52047;
    --secondary-color: #fff;

    color: var(--primary-color);
    background-color: var(--secondary-color);
    font-size: 1.2rem;
    text-decoration: none;
    border-color: transparent;
}

.button--big {
    height: 6rem;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 0.6rem;
    font-size: 1.6rem;
    text-transform: uppercase;
    margin-block: 1.25rem;
}