#root {
  
  min-height: 100vh;

  & * {
    box-sizing: border-box;
  }
}

.App {
  margin: 0 auto;
}

h1 {
  font-size: 7.2rem;
  line-height: 8.64rem;
  font-weight: 700;
}
h2 {
  font-weight: 600;
  font-size: 3.6rem;
  line-height: 4.32rem;
}
h3 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.16rem;
}

/* this should rather be placed in some shared styles file */
.base-link-or-btn--big {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 16rem;
  width: max-content;
  height: 6rem;
  margin-block: 1.25rem;
  padding-inline: 3rem;
  font-size: 1.6rem;
  text-transform: uppercase;
  border-radius: 0.6rem;
}